

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
     h1 {
        font-family: 'Sigmar', sans-serif;
        text-align: center;
        padding: 40px 0px 0px 0px;
     }
     h3 {
        color: #00008b
     }
     body {
        text-align: center;
        list-style-position: inside;
    }
    img {
    padding: 70px 70px 70px 70px;
    }
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
    display:inLine;
}